<template>
  <!-- eslint-disable-next-line vue/no-v-html -->
  <!-- <div v-html="markdown" /> -->
  <vue-markdown
    :source="source"
    :prerender="prerender"
    :html="false"
    :anchor-attributes="{ target: '_blank', rel: 'noopener' }"
  />
</template>

<script>
import VueMarkdown from 'vue-markdown'
export default {
  name: 'markdown-parser',

  components: { VueMarkdown },

  props: {
    source: { type: String, required: true }
  },

  methods: {
    prerender (str) {
      str = str || ''
      const re = /<br>\s*<\/br>|<br\s*\/>|<br>/gi
      const newLineSequence = '&nbsp;  \n'
      return str.replace(re, newLineSequence)
    }
  }
}
</script>
