
.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column, .flex-row {
  &--justify-around {
    justify-content: space-around;
  }
  &--justify-between {
    justify-content: space-between;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--relative {
    position: relative;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}
