@import '../variables';
@import '../helpers/mixins';

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(170, 40);
  }
}

%base {
  border: none;
  padding: 1rem 0;
  transition: all .2s ease-out;
  width: 100%;
  flex: 1;
  line-height: 100%;
  position: relative;
  text-align: center;

  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}


.btn {
  @extend %base;
  background: $col-active;
  color: $col-btn-text;
  overflow: hidden;
  width: 100%;

  &--danger {
    background-color: $col-danger;
  }

  &--resolve {
    background-color: $col-success;
  }

  &--info {
    background-color: $col-info;
  }

  &:enabled {
    &:hover {
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.175);
    }
  }

  &:disabled {
    background: $col-inactive;
  }
}

.btn-secondary {
  @extend %base;
  color: $col-text;

  &:disabled {
    color: $col-unfocused;
  }

  &:enabled:hover {
    background-color: lighten($col-active, 20%);
  }

  &--danger:enabled:hover {
    background-color: $col-danger;
    color: $col-btn-text;
  }

  &--success:enabled:hover {
    background-color: $col-success;
    color: $col-btn-text;
  }

  &--info:enabled:hover {
    background-color: $col-info;
    color: $col-btn-text;
  }
}

.back-btn {
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.btn-center-outer {
  text-align: center;
}


.btn-outer {
  display: block;
  margin: 60px auto 25px;
  width: 100%;

  &--center {
    text-align: center;
  }

  &--small {
    max-width: 180px;
  }

  &--no-margin {
    margin: 0 auto;
  }
}

.add-btn {
  background: $col-active;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.175);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  position: relative;
  transition: .2s;
  width: 40px;

  i.mdi {
    color: $col-btn-text;
    font-size: $material-icon-medium;
    position: absolute;
    @include center;
  }

  &:enabled {
    &:hover {
      box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 5px rgba(0,0,0,0.23);
    }
  }
}
