@import '../variables';
@import '../helpers/mixins';

$border-color: $col-unfocused;
$check-mark-color: $col-btn-text;
$checked-bg: $col-active;
$checkbox-width: $fs-root;
$checkbox-inner-padding: $fs-root/5;
$check-mark-width: $checkbox-width - ($checkbox-inner-padding * 2);

input[type="checkbox"] {
  display: none;

  & + label {
    cursor: pointer;
    padding-left: $checkbox-width + 10px;
    position: relative;

    &:before,
    &:after {
      @include center-vertically;
      position: absolute;
    }

    &:before {
      border: 2px solid $border-color;
      border-radius: 3px;
      content: '';
      left: 0;
      height: $checkbox-width;
      width: $checkbox-width;
    }

    &:after {
      border-right: 3px solid $check-mark-color;
      border-bottom: 2px solid $check-mark-color;
      content: '';
      display: none;
      left: 5.2px;
      height: $check-mark-width + 3px;
      width: $check-mark-width - 3px;
      transform: translateY(-65%) rotate(40deg);
    }
  }

  &:checked + label {
    &:before {
      background: $checked-bg;
      border-color: $checked-bg;
    }

    &:after {
      display: block;
    }
  }
}
