@import '../variables';
@import '../helpers/mixins';


.confirmation-message__text {
  margin-bottom: 30px;
}

.confirmation-message__buttons {
  display: flex;
  justify-content: flex-end;

  button {
    flex: .45;
  }

  .cancel-btn {
    margin-right: 5px;
  }
}
