@import '../variables';
@import '../helpers/mixins';

$border-color: $col-unfocused;
$border-width: 2px;
$check-mark-color: $col-btn-text;
$checked-bg: $col-active;
$button-width: $fs-root;
$button-inner-padding: $fs-root/4;
$check-mark-width: $button-width - ($button-inner-padding * 2);

input[type="radio"] {
  display: none;

  & + label {
    cursor: pointer;
    padding-left: $button-width + 10px;
    position: relative;

    &:before,
    &:after {
      @include center-vertically;
      border-radius: 50%;
      position: absolute;
    }

    &:before {
      border: $border-width solid $border-color;
      content: '';
      left: 0;
      height: $button-width;
      width: $button-width;
    }

    &:after {
      background: $checked-bg;
      content: '';
      display: none;
      left: $button-inner-padding + $border-width;
      height: $check-mark-width;
      width: $check-mark-width;
    }
  }

  &:checked + label {
    &:before {
      background: #fff;
      border-color: $checked-bg;
    }

    &:after {
      display: block;
    }
  }
}
