@import 'variables';
@import 'mixins';
@import '../../static/fonts/index.css';
@import '../../node_modules/mdi/css/materialdesignicons.min.css';
@import "../../node_modules/vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: $col-md-primary,
  accent: md-get-palette-color(red, A200),
  theme: light
));
@import "../../node_modules/vue-material/dist/theme/all";

/* Global styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

body,
input, select,
textarea {
  background: $col-background;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.005em;
}

html,body{
  height: 100% !important;
  overflow: auto !important;
  -webkit-overflow-scrolling : touch !important;
}

#app {
  height: 100%;

  &,
  & main,
  & .md-content {
    background-color: $col-md-background;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: $fs-top-heading;
  margin-bottom: 35px;
}

h2 {
  font-size: $fs-heading;
  margin-bottom: 25px;
}

h3, h4 {
  margin-bottom: 5px;
}

p {
  margin-top: 0;
}

a {
  color: $col-active;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  max-width: 1250px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;

  @media (min-width: 1367px) {
    max-width: 1560px;
    width: 80%;
  }
}

.app__dialog {
  padding: 30px 40px;
}

.material {
  background: $col-content-block;
  box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 5px rgba(0,0,0,0.23);

  &--flat {
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);;
  }

  &--transparent {
    background: transparent;
  }
}

.mdi {
  font-size: $material-icon-size;
  color: $col-text;
}

button {

  &:focus {
    outline: none;
  }

  .mdi {
    font-size: $fs-root;
  }
}

.icon-btn {
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    i {
      opacity: .75;
    }
  }
}

.cover {
  background-color: $col-hover;
  height: 100vh;
  opacity: .5;
  position: fixed;
  left: 0;
  top: 0;
  transition: .15s;
  width: 100vw;
  z-index: $z-cover;

  &--sidebar {
    z-index: $z-sidebar-cover;
  }

  &--low {
    opacity: .1;
  }
}


.tfa-dialog,
.password-dialog,
.confirmation-message,
.remember-seed-message,
.app__modal {
  @include center;
  max-width: 440px;
  padding: 25px 35px 40px;
  position: fixed;
  width: 100%;
  z-index: $z-modal-dialog;

  p {
    margin-bottom: 30px;
  }

  .input-field {
    margin-bottom: 20px;
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.info {
  color: $col-info;
}

.active {
  color: $col-active;
}

.load-more-btn {
  cursor: pointer;
}

.more-btn {
  cursor: pointer;
  padding: 5px 10px;

  &:disabled {
    box-shadow: none;
    opacity: .5;
  }
}

.note {
  font-size: $fs-tip;
  border-left: 1px solid $col-active;
  padding-left: 10px;
  margin-bottom: 40px;
  i {
    margin-right: 3px;
  }
  .unfocused {
    color: $col-unfocused;
  }
}

.error-tip {
  color: $col-danger;
  font-size: $fs-tip;
}

.success-tip {
  color: $col-success;
  font-size: $fs-tip;
}

.app__modal {
  @include center;

  position: fixed;
  z-index: $z-modal-dialog;
}
